<%= form_for(@wiki) do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% @wiki.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <li><%= message %></li>
      </div>

      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, class: "control-label" %><br>
    <%= f.text_field :title, class: "form-control", placeholder: "Awe-inspiring Wiki Title.." %>
  </div>
  <div class="field form-group">
    <%= f.label :body, class: "control-label" %><br>
    <%= f.text_area :body, cols: "30", rows: "10", class: "form-control", placeholder: "Ground Breaking Wiki Content..." %>
  </div>
  <% if current_user.admin? || current_user.premium? %>
  <div class="field form-group">
    <!-- <%= f.label :private, type: "hidden" %><br> -->
    <span class="label label-warning private-form-label">Make this Wiki private <span class="badge private_badge"><%= f.check_box :private, class: "private_check form-control"%></span></span>
  </div>
  <% end %>
  <!-- <div class="field form-group">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, class: "form-control"  %>
  </div> -->
  <div class="actions">
    <%= f.submit class:"btn btn-success btn-lg" %>
  </div>
<% end %>
