<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-12">
      <div class="panel panel-sm panel-primary">
        <div class="panel-heading"><h1>Editing Wiki </h1>
            <span style="text-align:right; position:inherit; float:right; margin-top:-65px; margin-bottom:10px;"><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i> Delete Wiki'.html_safe, @wiki, method: :delete, data: { confirm: 'Are you sure? This action can not be undone.' }, class: "btn btn-danger" %></span>
        </div>
        <div class="panel-body">
          <%= render 'form' %>
            <% if @wiki.private? || @wiki.users.include?(current_user) %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#collaborators_modal">Edit Collaborators</button>
            <%end%>
        </div>
        <div class="panel-footer" style="text-align:right;">
          <%= link_to 'View Wiki', @wiki, data: { confirm: 'Are you sure? Any edits you have made will be lost.' }, class: "btn btn-primary" %>
            <%= link_to 'Cancel'.html_safe, wikis_path, data: { confirm: 'Are you sure? Any edits you have made will be lost.' }, class: "btn btn-danger btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="collaborators_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2> Manage Collaborators</h2>
      </div>
      <div class="modal-body">
        <% User.all.each do |user| %>
          <% if user.id != current_user.id %>
            <div class="row">
              <% if @wiki.users.include?(user) %>
                <div class="col-lg-6 pull-right">
                  <%= "#{user.email}(#{user.id})" %>
                  <%= link_to "remove as collaborator", wiki_collaborators_path(@wiki, user), class: 'btn btn-danger', method: :delete%>
                </div>
              <%else%>
                <div class="col-lg-6">
                  <%= "#{user.email}(#{user.id})" %>
                  <%= button_to "add as collaborator", wiki_collaborators_path(@wiki.id, user.id), class: 'btn btn-success'%>
                </div>
              <%end%>
            </div>
          <%end%>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
