<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-sm panel-primary">
        <div class="panel-heading wikis-index-heading">
          <h2>Wikis</h2>
            <span style="text-align:right; position:inherit; float:right; margin-top:-30px; margin-bottom:10px;"><%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-success btn-sm' %></span>
        </div>
        <div class="panel-body">
          <div class="panel-group">
            <% @wikis.each do |wiki| %>
              <div class="panel panel-info">
                <div class="panel-heading wiki-heading"><h3>
                <span><i class="fa fa-black-tie" aria-hidden="true"></i> <%= wiki.title %></span></h3>
                <h4 class="gray-text">By: <%= wiki.user.email.split("@")[0].titleize %>
                <% if wiki.user.admin? %>
                  <span class="label label-admin"><i class="fa fa-power-off" aria-hidden="true"></i> Admin</span>
                  <% elsif wiki.user.premium? %>
                  <span class="label label-premium"><i class="fa fa-trophy" aria-hidden="true"></i> Premium</span>
                <% end %>
                </h4>
                  <% if wiki.private %>
                    <span class="label label-danger"> Private</span>
                  <% else %>
                    <span class="label label-success"> Public</span>
                  <% end %>
                  <% if wiki.created_at == wiki.updated_at %>
                  <span class="label label-info">Posted: <span class="gray-text"><%= time_ago_in_words(wiki.created_at) %> ago</span></span>
                  <% else %>
                    <span class="label label-info">Posted: <span class="gray-text"><%= time_ago_in_words(wiki.created_at) %> ago</span></span>
                    <span class="label label-warning">Updated: <span class="gray-text"><%= time_ago_in_words(wiki.updated_at) %> ago</span></span>
                  <% end %>
                </div>
                <div class="panel-body wiki-panel-body">
                    <div class="panel ">
                      <div class="panel-body wiki-panel-inner-body">
                        <% if wiki.private? && wiki.user != current_user && !current_user.admin? %>
                           <h3><span class="label label-danger">This Wiki is set to private..</span></h3>
                        <% else %>
                          <p><%= wiki.body %></p>
                        <% end %>
                      </div>
                    </div>
                </div>
                <div class="panel-footer wiki-footer">
                  <% if wiki.user == current_user || current_user.admin? %>
                  <div class="dropdown wiki-edit-dropdown">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown"><i class="fa fa-pencil" aria-hidden="true"></i> Edit
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><%= link_to 'Edit Wiki', edit_wiki_path(wiki), class: " menu-edit-wiki" %></li>
                      <li><%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' }, class: "menu-destroy-wiki" %></li>
                    </ul>
                  </div>
                  <% end %>
                  <%= link_to '<i class="fa fa-black-tie" aria-hidden="true"></i> View Wiki'.html_safe, wiki, class: "btn btn-primary btn-sm btn-view-wiki" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="panel-footer wikis-index-footer" style="text-align:center;">
          <%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-success btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>
