
<div class="container-fluid">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading wiki-heading">
        <h3><span><i class="fa fa-black-tie" aria-hidden="true"></i> <%= @wiki.title %></span></h3>
        <h4 class="gray-text">By:
          <%= link_to(user_path(@wiki.user))  do %>
            <%= @wiki.user.email.split("@")[0].titleize %>
          <% end %>
          <% if @wiki.user.admin? %>
            <span class="label label-admin"><i class="fa fa-power-off" aria-hidden="true"></i> Admin</span>
            <% elsif @wiki.user.premium? %>
            <span class="label label-premium"><i class="fa fa-trophy" aria-hidden="true"></i> Premium</span>
          <% end %>
        </h4>
        <% if @wiki.private %>
          <span class="label label-danger"> Private</span>
        <% else %>
          <span class="label label-success"> Public</span>
        <% end %>
        <% if @wiki.created_at == @wiki.updated_at %>
          <span class="label label-info">Posted: <span class="gray-text"><%= time_ago_in_words(@wiki.created_at) %> ago</span></span>
        <% else %>
          <span class="label label-info">Posted: <span class="gray-text"><%= time_ago_in_words(@wiki.created_at) %> ago</span></span>
          <span class="label label-warning">Updated: <span class="gray-text"><%= time_ago_in_words(@wiki.updated_at) %> ago</span></span>
        <% end %>
      </div>
      <div class="panel-body wiki-panel-body">
          <div class="panel ">
            <div class="panel-body wiki-panel-inner-body">
              <% if @wiki.private? && @wiki.user != current_user && !current_user.admin? %>
                 <h3><span class="label label-danger">This @wiki is set to private..</span></h3>
              <% else %>
                <p><%= @wiki.body %></p>
              <% end %>
            </div>
          </div>
      </div>
      <div class="panel-footer wiki-footer">
        <% if policy(@wiki).destroy? %>
          <div class="dropdown @wiki-edit-dropdown">
            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown"><i class="fa fa-pencil" aria-hidden="true"></i> Edit
            <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to 'Edit Wiki', edit_wiki_path(@wiki), class: " menu-edit-wiki" %></li>
              <li><%= link_to 'Destroy', @wiki, method: :delete, data: { confirm: 'Are you sure?' }, class: "menu-destroy-wiki" %></li>
            </ul>
          </div>
        <% end %>
        <%= link_to 'Back', :back, class: "btn btn-warning" %>
        <%= link_to '<i class="fa fa-black-tie" aria-hidden="true"></i> View All Wiki\'s'.html_safe, wikis_path, class: "btn btn-primary btn-sm btn-view-wiki" %>
      </div>
    </div>
  </div>
</div>
